@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Estilos{
    <link rel="stylesheet" href="~/css/all.min.css" />
}

@*<h1 style="text-align: center;">Logs de clientes</h1>*@
<h3> @ViewBag.Cliente</h3>
<h3> @ViewBag.TypeLog</h3>

<div class="container-lg pt-3">

    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="buscar" placeholder="">
                <label for="floatingInput">Buscar</label>
            </div>
        </div>
        <div class="col text-center">
            <a id="stop" title="Stop" onclick="off()" style="cursor:pointer;">
                <img class="icono-l" src="../img/log/parada04.png" />
            </a>
            <a id="play"
               onclick="on()" title="Play" value="Play">
                <img img class="icono-l" src="../img/log/boton-de-play02.png" style="cursor:pointer;" />
            </a>
            <a id="remove" title="Borrar" onclick="remove()" value="remove" style="cursor:pointer;">
                <img img class="icono-l" src="../img/log/bote-de-basura01.png" />
            </a>
        </div>
        <div class="col">
            <div class="input-group input-group-lg">
                <select class="" id="cboFiles">
                </select>

                <a name="descarga" title="Descargar" value="descarga" id="button-addon2" style="cursor:pointer;">
                    <img img class="icono-l mx-3" src="../img/log/descargar03.png" />
                </a>
            </div>
        </div>
    </div>

</div>
<div>
    <input type="hidden" id="rutaLog" value="@ViewBag.Path" />
</div>

<div class="body">
    <div class="st-form-line">
        <div id="divu">
            <div id="list" class="marck"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/vistas/LogInfo_Index.js"></script>
}