@using System.Data;
@model DataTable

@{
    Layout = null;
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-black">Resultado de consulta</h6>
    </div>
    <div class="card-body">        
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">

                   
                    <thead>
                         <tr>
                            @foreach (DataColumn columna  in Model.Columns)
                            {
                            <th>
                                        @columna
                                
                            </th>

                            }

                        </tr>

                        
                    </thead>
                    <tbody>
                            @foreach (DataRow row in Model.Rows)
                            {
                            <tr>
                                    @foreach (var fiel in row.ItemArray)
                                    {
                                    <td>
                                            @fiel
                                    </td>

                                    }
                            </tr>

                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



