@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="h3 mb-2 text-gray-800">Servidor</h1>

<div id="ServerInfo" class="card shadow mb-4">    
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-black">CPU</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
        </div>
        <hr>
        Estado de CPU
        
    </div>
</div>




<div id="serverGraphics" class="col-xl-12 col-sm-10 col-lg-7 d-flex padre ">     
</div>

@section Scripts{
   @* <script src="~/vendor/chart.js/Chart.min.js"></script>*@
    <script src="~/js/vistas/Dashboard_index.js"></script>
}